#wrapper{
      max-width:1200px;
      margin:0 auto;
    }

.main-menu li{
  display:inline-block;
  margin-right: 2em;
}

.dropdown{
  background-color: #e3e3e3;
  padding:0;
  position:absolute;
  display:none;
}

.dropdown li{
  display: block;
  border:solid 1px #ccc;
  padding:0.5em 2em;
  margin-right:0;
}

.main-menu li:hover .dropdown{
  display:block;
}
