#wrapper{
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
}

.layout img{
  width:100%;
}

.layout{
  display:grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 32% 32% 32%;
  grid-row-gap: 2%;
  grid-column-gap: 1em;
  /* grid-gap: 2% 1em; */
}

.one, .five{
  grid-column-start: 1;
  grid-column-end: 4;
}
